body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}

.w3-bar-block .w3-bar-item {padding:20px}

table#xeno-table td,
table#xeno-gallery-table td{
  vertical-align: middle;
}

#xeno-toolbar-general {
  vertical-align: middle;
}

th.sorted.ascending:after {
  content: "  \2191";
}

th.sorted.descending:after {
  content: " \2193";
}

.thumbnail {
  width: 25px;
  height:25px;
  object-fit: cover;
}

.preview {
  width:49%;
  object-fit: cover;
}

td .snapshot {
  width: 100%;
  object-fit: cover;
}

td .snapshot:hover {
  transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#xeno-table tr.selected {
  background-color: #aaa;
}

#xeno-gallery-table td,
#xeno-gallery-table th
 {
  max-width: 25px;
}

/* The switch - the box around the slider */
.switch {
 position: relative;
 display: inline-block;
 width: 60px;
 height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
 opacity: 0;
 width: 0;
 height: 0;
}

/* Source: https://www.w3schools.com/howto/howto_css_switch.asp */
/* The slider */
.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 26px;
 width: 26px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #000;
}

input:focus + .slider {
 box-shadow: 0 0 1px #000;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay img {
  text-align: center;
  min-width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
